@import url("null.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #424551;
    line-height: 1.6;
}

.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1e212c;
}
.lead {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1e212c;
}
.quote {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: #1e212c;
}
